@charset "UTF-8";

/* 비밀번호 찾기 모달입니다. */
.zzzPW{
   margin: 120px;
    height: 400px;
   
}
.login-result{
   text-align: center;
}
/* 비밀번호 찾기 모달 끝입니다. */


   /* 아이디 찾기 모달 부분입니다. */
#myModal{
   border-radius: 70px;
   
}
   
.modal-content{
      position: relative;
   top: 150px;
   width: 700px;
   border: 1px solid #C6C6C6;
   border-radius: 5px;
   margin: auto; /*중앙 정렬*/
   padding: 0 20px;
   margin-bottom: 20px;
   
   
}
.title{
   text-align: center;
}
.zzz{
   margin: 120px;
    height: 400px;
}
.findIDBtn{
   text-align: center;
   
}
.fbtn{
   border : 3px;
   margin:auto;
   height : 30px;
   width : 100px;
   color: white;
   background-color: black;
   
   text-align: center;
   vertical-align : middle;
}
.checkID{
   
   border: 3px solid black;
   border-radius: 50px;
   margin-bottom: 20px;
}
/* 아이디 찾기 모달 끝입니다. */

.nav_container {
   position: relative;
   display: flex;
   width: 100%;
   min-width: 60em;
   padding: 0 1.25em;
   margin: 1.25em auto 0;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-text-size-adjust: none;
   box-sizing: border-box;
}

.content_signin {
   min-height: 41.667em;
   text-align: center;
   margin: 5em auto;
}

.content_signin .signin_section_group {
   position: relative;
   width: 28.333em;
   height: 41.667em;
   overflow: hidden;
}

.content_signin .signin-section .signin_pw {
   border-radius: 0 0 2px 2px;
}

content_signin .signin_swiper {
   position: absolute;
   display: flex;
   width: 56.667em;
   transform: translate3d(0, 0, 0);
   transition-duration: 300ms;
}

.content_signin .signin_section {
   width: 28em;
   margin: 0 0.167em;
}

.content_signin .signin-section .signin_id, .content_signin .signin-section .signin_pw
   {
   width: 100%;
   min-width: 100%;
   max-width: 100%;
   font-size: 1.333em;
   padding: 0.75em 1.625em;
   border-radius: 2px 2px 0 0;
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], input[type="search"], input[type="number"]{
   border-radius: 2px;
   border: 1px solid rgba(0, 0, 0, 0.15);
   outline: none;
   -webkit-appearance: none;
   vertical-align: middle;
}

input {
   background-color: #fff;
}

button, input, optgroup, select, textarea {
   font: inherit;
   color: inherit;
   border: 0;
   border-radius: 0;
   margin: 0;
   background-color: inherit;
}

.loginForm {
   display: block;
   margin-top: 0em;
}

.content_signin .signin_title {
   display: inline-block;
   font-size: 2.167em;
   font-weight: 300;
   padding: 0.192em 0;
   margin: 0.769em 0;
   border-bottom: 1px solid #333;
}

.content_signin .signin_group {
   min-height: 41.667em;
   text-align: center;
   margin: 5em auto;
}

.content_signin_group {
   position: relative;
   width: 28.333em;
   height: 41.667em;
   overflow: hidden;
}

.content_signin .signin-section .button_login {
   width: 115%;
   height: 2.368em;
   font-size: 1.583em;
   color: #fff;
   font-weight: 300;
   margin: 1.526em -1em;
   border-radius: 2px;
   background-color: #516B82;
}

button {
   border: none;
   outline: none;
   overflow: visible;
   margin: 0;
   padding: 0;
   white-space: nowrap;
   background-color: transparent;
}

html, body {
   font-family: "Roboto", "Noto Sans KR", 나눔고딕, "Nanum Gothic",
      "Malgun Gothic", 맑은고딕, 굴림, 돋움, "Dotum", "sans-serif";
   font-weight: 400;
   font-size: 15px;
   color: #111;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   line-height: 1;
}

.content_signin .signin-section .auto_signin .button_forgot {
   color: #516B82;
}

a {
   color: #232F3E;
   text-decoration: none;
   cursor: pointer;
}

.content_signin .button_join {
   display: block;
   width: 11em;
   font-size: 1.167em;
   margin: 7.143em auto;
   padding: 0.929em 1.429em;
   border: 1px solid #ccc;
   border-radius: 2px;
}

.content_signin .signin-section {
   padding: 1.25em 0em;
}

input::placeholder {
   font-size: 0.8em;
   font-family: "Roboto", "Noto Sans KR", 나눔고딕, "Nanum Gothic",
      "Malgun Gothic", 맑은고딕, 굴림, 돋움, "Dotum", "sans-serif";
}

.idpwSearch{
   display: block;
   width: 15em;
   font-size: 1.167em;
   margin: -5.857em auto;
   padding: 0.929em 1.429em;
   border-radius: 2px;
}
.loginBtn{
   height : 50px;
   width : 200px;
   color: white;
   background-color: black
}